.col-xs-4, .col-xs-12 {
    height: 100%;
    color: white;
    text-align: center;
    font-size: 5.5vmin;
    font-family: Batang;
}
.col-xs-4 > div, .col-xs-12 > div {
    position: relative;
    /*top: 50%;
    transform: translateY(-50%);*/
}
#ipinfo > div{             
    height: 100%; 
    /*top: 50%;
    transform: translateY(-50%);*/  
    background:url('/SainTfactorStudiosIP/WingedTTransparent.png');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 68%;
}
#bibleverse, #trivia, #technews, #weather {
    text-align: left;
}
#trivia > div, #technews > div, #weather > div {
    top: 0;
    transform: none;
}
#clock > div{
    margin-top: 20px;
}
#weatherDay1, #weatherDay2, #weatherDay3 { 
	display: inline-block; 
	text-align: center;
    font-size: 3vmin;
	width: 33%; 
	height:100%; 
} 
#weatherDay1>img, #weatherDay2>img, #weatherDay3>img {
	height: 60%; 
}
#weathertop>div>img, #weathertop>div>div {
	height: 60%;  
	display: inline; 
    font-size: 11vmin;
}
#weatherbottom {
	border-top: 1px solid white;
}
